public net.minecraft.server.level.ChunkMap m_140416_()Ljava/lang/Iterable; # getChunks

# DamageSources
public net.minecraft.world.damagesource.DamageSources *()

# Used to allow block stripping
public-f net.minecraft.world.item.AxeItem f_150683_ # STRIPPABLES
